.navbar{
    background-color: black;
    padding: 20px;
    
}
.navbar a{
    margin-inline: 20px;
    color: white;
}
#footer{
    margin-top: 20px;
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}